
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalGear</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <section class="wrapper">
            <nav>
                <div class="left">
                    <a href="/">GoalGear</a>
                </div>
                <div class="middle">
                    <ul>
                        <li><a href="#features">New & Featured</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/product">Products</a></li>
                        <li><a href="/contact">Contact</a></li>
                        {% if 'user' in request.session %}
                            <li><a href="/order-status/">My Orders</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="right">
                    <form method="post" class="search">
                        {% csrf_token %}
                        <img src="{% static 'images/icons/search.png' %}" alt="">
                        <input type="text" id="Search" name="search" placeholder="Search">
                    </form>
                    <ul>
                        <li><a href="{% url 'bag' %}" class="button-1"><img src="{% static 'images/icons/shopping-bag.png' %}" alt=""></a></li>
                        {% if 'user' in request.session %}
                        <li><a href="/logout/" class="login-btn">Logout</a></li>
                        {% else %}
                        <li><a href="/Login" class="login-btn">Login</a></li>
                        {% endif %}
                    </ul>
                </div>  
            </nav>
        </section>
    </header>
    <section id="spotlight">
            <div class="banner">
                <img src="{% static 'images/nike-football.png' %}" alt="">
            </div>
    </section>  
    <section class="category">
        <h2>Football Gear & Accessories</h2>
        <ul>
            <li>
                <a href="{% url 'category_products' 1 %}">  <!-- Assuming Football has id=1 -->
                    <img src="{% static 'images/ball4.jpg' %}" alt="Football">
                </a>
                <a href="{% url 'category_products' 1 %}">
                    <h3>Football</h3>
                </a>
            </li>
            <li>
                <a href="{% url 'category_products' 2 %}">  <!-- Assuming Boots has id=2 -->
                    <img src="{% static 'images/boot1.jpg' %}" alt="Boots">
                </a>
                <a href="{% url 'category_products' 2 %}">
                    <h3>Boots</h3>
                </a>
            </li>
            <li>
                <a href="{% url 'category_products' 3 %}">  <!-- Assuming Jersey has id=3 -->
                    <img src="{% static 'images/Jersey.avif' %}" alt="Football Jersey">
                </a>
                <a href="{% url 'category_products' 3 %}">
                    <h3>Football Jersey</h3>
                </a>
            </li>
            <li>
                <a href="{% url 'category_products' 4 %}">  <!-- Assuming Gloves has id=4 -->
                    <img src="{% static 'images/Goalkeeper_Gloves.avif' %}" alt="Goalkeeper Gloves">
                </a>
                <a href="{% url 'category_products' 4 %}">
                    <h3>Goalkeeper Gloves</h3>
                </a>
            </li>
        </ul>
    </section>
    
    <section class="functionality">
        <div class="left">
            <h1>Elevate Your Game with Our Premium Football Accessories for Every Player</h1>
            <p>At GoalGear, we offer a diverse selection of football accessories tailored to boost your performance. Our products combine functionality with style, ensuring you look and feel your best on the field.</p>
            <div class="container">
                <div class="perfo">
                    <h2>Performance Gear</h2>
                    <p>Designed to enhance your skills and keep you competitive in every match.</p>
                </div>
                <div class="stylish">
                    <h2>Stylish Accessories</h2>
                    <p>Look sharp on the field with our cutting-edge designs and vibrant colors.</p>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{% static 'images/for_fearuer.avif' %}" alt="Nike Football">
        </div>
    </section>
    <section id="features">
        <section class="wrapper">
            <div class="product-container">
                <h2>New Arrivals</h2>
                <div class="cards">
                {% for product in new_arrivals %}
                    <div class="card">
                        {% if product.images.first %}
                        <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                        {% else %}
                        <img src="{% static 'images/default-product.jpg' %}" alt="No image">
                        {% endif %}
                        <h3>{{ product.name }}</h3>
                        <span class="price">Price: ₹{{ product.price }}</span>
                        <span class="description">{{ product.description|truncatechars:60 }}</span>
                        <a href="{% url 'add_to_cart' product.id %}"><button type="submit">Add To Cart</button></a>
                        <a href="/view/{{ product.id }}"><button>Buy Now</button></a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
    </section>

    <section id="explore">
        <section class="wrapper">
            <div class="explore-container">
                <h1>Unmatched Durability: Gear that withstands the toughest conditions on the field.</h1>
                <div class="fields">
                    <div class="field">
                        <img src="{% static 'images/background-1.webp' %}" alt="Comfort">
                        <h3>Ultimate Comfort: Designed to keep you at your best during every match.</h3>
                        <p>Our products are crafted with the latest technology to enhance your game.</p>
                        <a href="/product#product"><button>Explore</button></a>
                    </div>
                    <div class="field">
                        <img src="{% static 'images/nike_back.png' %}" alt="Design">
                        <h3>Innovative Design: Stand out with gear that combines style and performance.</h3>
                        <p>Experience the perfect blend of aesthetics and functionality with our accessories.</p>
                        <a href="/product#product"><button>Explore</button></a>
                    </div>
                    <div class="field">
                        <img src="{% static 'images/boot10.webp' %}" alt="Performance">
                        <h3>Performance-Driven: Elevate your skills with gear that enhances your abilities.</h3>
                        <p>Our accessories are designed to support every player, from novice to expert.</p>
                        <a href="/product#product"><button>Explore</button></a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="join">
        <section class="wrapper">
            <div class="offer">
                <h1>JOIN GoalGear AND GET 20% OFF</h1>
                <a href="/Login"><button class="modern-button">SIGN UP FOR FREE</button></a>
            </div>
        </section>
    </section>
    <footer>
        <section class="wrapper">
            <section class="top">
                <div class="item">
                    <h1><a href="#">GoalGear</a></h1>
                    <p>Welcome to GoalGear.</p>
                </div>
                <div class="item">
                    <h3>Products</h3>
                    <ul>
                        <li><a href="#">Football Shoes</a></li>
                        <li><a href="#">Jerseys & Apparel</a></li>
                        <li><a href="#">Goalkeeper Gear</a></li>
                        <li><a href="#">Training Equipment</a></li>
                        <li><a href="#">Football Accessories</a></li>
                        <li><a href="#">Kids’ Football Gear</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Fast & Secure Delivery</a></li>
                        <li><a href="#">Easy Returns & Refunds</a></li>
                        <li><a href="#">24/7 Customer Support</a></li>
                        <li><a href="#">Secure Payment Methods</a></li>
                        <li><a href="#">Best Quality Guarantee</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Meet the Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>Stay up to date</h3>
                    <p>Subscribe to our newsletter.</p>
                    <form action="">
                        <input type="email" id="E-mail" placeholder="Your email address" required />
                        <button type="submit">Send</button>
                    </form>
                </div>
            </section>
            <section class="bottom">
                <p class="left">
                    &copy; 2025 @GoalGear-All rights reserved- <a href="#">Privacy Policy</a> <br /> v1.16
                </p>
                <div class="social">
                    <ul>
                        <li>
                            <a href="#"><img src="{% static 'images/icons/facebook.svg' %}" alt="facebook" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="{% static 'images/icons/twitter.svg' %}" alt="twitter" /></a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </footer>
</body>
</html>